body {
    margin: 0;
    padding: 0;
    background: #fff7ee;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background: #ff8800;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Main container */
.container {
    display: flex;
    padding: 30px;
}

/* Left QR box */
.left-box {
    width: 40%;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.left-box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
}

.left-box button {
    width: 95%;
    padding: 12px;
    background: #ff8800;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.left-box button:hover {
    background: #e67300;
}

/* Right box */
.right-box {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#qrCanvas {
    border: 8px solid white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    border-radius: 10px;
    background: white;
}

#qrNameDisplay {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

/* Product Section */
.product-section {
    margin-top: 50px;
    padding-top: 30px;
}

.product-title {
    text-align: center;
    font-size: 28px;
    color: #333;
}

/* Product grid */
.product-grid {
    display: flex;
    flex-wrap: wrap;        /* Allows next line */
    gap: 20px;
    justify-content: center;
}

.product-card,
.add-new {
    width: 180px;           /* Fixed width for 4 items per row */
    height: 225px;
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-card img {
    width: 70%;
    border-radius: 8px;
}

.product-card h3 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

/* Add new + card */
.add-new {
    border: 2px dashed #ff8800;
    justify-content: center;
    cursor: pointer;
}

.plus {
    font-size: 50px;
    font-weight: bold;
    color: #ff8800;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.popup-content h2 {
    text-align: center;
}

.popup-content input {
    width: 95%;
    margin-bottom: 15px;
    padding: 10px;
}

.popup-content button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #ff8800;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}

.close-btn {
    background: #555;
}
.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgb(241, 64, 64);
    color: white;
    border: none;
    font-size: 20px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.product-card {
    position: relative;
}


